* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.games {
    background: #e1ff8f;
    /* width: 1440px; */
    height: 800px;
    margin: 0 auto;
}

.games-content {
    width: 769px;
    height: 358px;
    padding: 196px 0 124px 0;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.games-content--header {
    width: 769px;
    height: 156px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 0px;
    vertical-align: middle;
}

.games-content--body {
    width: 720px;
    margin: 0 0 48px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
}

.btn {
    width: 247px;
    height: 66px;
    border-radius: 60px;
    border: 1px solid #202027;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 142%;
    text-align: center;
    color: white;
    background: #202027;
}

.btn:hover {
    color: #202027;
    background: white;
}

.big-star {
    width: 587px;
    position: relative;
    left: 890px;
    bottom: 554px;
}

/* big-star--mob {
    display: none;
} */

.small-star {
    width: 57px;
    height: 57px;
    position: relative;
    bottom: 1262px;
    right: 51px;
}

.small-star--there {
    width: 35px;
    height: 35px;
    position: relative;
    bottom: 1343px;
    right: -36px;
}

.small-star--four {
    width: 83px;
    height: 83px;
    position: relative;
    bottom: 885px;
    right: -893px;
}

.small-star--five {
    width: 37px;
    height: 37px;
    position: relative;
    bottom: 993px;
    right: -828px;
}

.scroll-container {
    /* width: 100%; */
    overflow: hidden;
    background-color: #bcec30; /* фон как на твоём примере */
    white-space: nowrap;
    position: relative;
    top: 350px;
}

.scroll-content {
    display: inline-block;
    animation: scroll-left 50s linear infinite;
    padding: 27px 0 27px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 110.00000000000001%;
    vertical-align: middle;
    text-transform: uppercase;
}

.scroll-content span {
    /* display: inline-block; */
    font-weight: 700;
    font-size: 20px;
    color: #111;
}

/* Анимация */
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.about-games {
    background: #202027;
    padding: 0 79px 0 0;
    padding-left: calc(50% - 600px);
    /* margin: 0 auto;
    max-width: 1440px; */
}

.about-games--header {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    padding: 94px 0 24px 0;
}

.about-games--text {
    padding: 0 0 72px 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
}

.about-games--service {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.guess--number,
.arithmetic,
.text--over,
.rock--paper-scissors,
.victorina,
.color--generator {
    text-decoration: none;
    color: #111;
    width: 378px;
}

.guess--number {
    height: 473px;
}

/* .arithmetic {
    margin-bottom: 32px;
} */

/* .services-games, */
.about-games--services {
    width: 378px;
    background: white;
    border-radius: 30px;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    will-change: transform;
    position: relative;
    z-index: 4;
    margin-bottom: 32px;
}

.about-games--services--arithmetic {
    height: 512px;
    width: 378px;
    background: white;
    border-radius: 30px;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    will-change: transform;
    position: relative;
    z-index: 4;
    margin-bottom: 32px;
}

.about-games--services--arithmetic:hover,
.about-games--services:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    z-index: 2;
    position: relative; /* важно, чтобы z-index работал */
}

.games-card__img {
    border-radius: 30px;
}

.arithmetic-games,
.quiz {
    height: 198px;
}

.rock-paper-scissors,
.color-generator {
    height: 237px;
}

.number,
.text-over {
    height: 159px;
}

.games-card__number {
    width: 108px;
    height: 36px;
    border-radius: 52px;
    margin: 32px 0 0 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: 0px;
    vertical-align: bottom;
    background: #f7f7f7;
    border: 0;
}

.games-card__description {
    margin: 16px 0 0 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
}

.big-star-2 {
    width: 414px;
    height: 584px;
    position: absolute;
    left: 1140px;
    /* bottom: 4964px; */
    top: 877px;
    z-index: 0;
}

.small-star--six {
    width: 32px;
    height: 32px;
    position: relative;
    bottom: 4339px;
    right: 180px;
}

.small-star--seven {
    width: 54px;
    height: 54px;
    position: relative;
    bottom: 4283px;
    right: 190px;
}

.mini-games {
    margin-top: 96px;
    background: #202027;
    /* height: 3310px; */
}

.mini-games--title {
    margin: 0 0 72px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #ffff;
}

.game-card:nth-child(odd) {
    background: white;
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    margin-bottom: 60px;
}

.game-card:nth-child(even) {
    width: 1200px;
    height: 500px;
    background: white;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 30px;
    margin-bottom: 60px;
}

.game {
    margin: 50px 0 0 48px;
}

.game-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    margin: 0 0 30px 0;
}

.game-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    margin: 0 0 36px 0;
}

.game-img img {
    width: 600px;
    height: 500px;
}

.btn {
    width: 247px;
    height: 66px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
    color: #fff;
    background: #202027;
    border-radius: 60px;
    cursor: pointer;
}

.end-game--footer {
    background: #bded35;
    height: 150px;
    padding-top: 61px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    /* width: 1440px; */
}

@media (max-width: 375px) {
    .games {
        height: 700px;
    }

    .games-content {
        padding: 147px 0 0 40px;
    }

    .games-content--header {
        width: 262px;
        height: 192px;
        font-size: 40px;
        text-align: center;
    }

    .games-content--body {
        width: 296px;
        height: 60px;
        text-align: center;
        font-size: 16px;
        padding-top: 24px;
        line-height: 20px;
    }

    .games-content--footer {
        padding-top: 36px;
    }

    .btn {
        width: 285px;
        height: 55px;
        font-size: 16px;
    }

    .scroll-container {
        height: 51px;
        top: 290px;
    }

    .scroll-content {
        padding: 16px 0 16px 0;
        font-size: 16px;
    }

    .scroll-content span {
        font-size: 16px;
    }

    .big-star {
        display: none;
    }

    .big-star--mob {
        background-image: url(./images/Vector.png);
        background-repeat: no-repeat;
        position: relative;
        left: 174px;
        bottom: 538px;
        width: 223px;
        height: 238px;
    }

    .small-star-four--mob {
        background-image: url(./images/Star-8.png);
        position: relative;
        bottom: 318px;
        width: 18px;
        height: 18px;
        left: 233px;
    }

    .small-star-five--mob {
        width: 39px;
        height: 41px;
        background-image: url(./images/Star-9.png);
        position: relative;
        bottom: 315px;
        left: 262px;
    }

    .small-star {
        position: absolute;
        left: 37px;
        top: 97px;
    }

    .small-star > img {
        width: 35px;
        height: 35px;
    }

    .small-star--there {
        position: absolute;
        left: 91px;
        top: 64px;
    }

    .small-star--there > img {
        width: 21px;
        height: 21px;
    }

    .about-games--service,
    .section {
        display: none;
    }

    .mini-games {
        margin-top: 0;
    }

    .mini-games--title {
        padding: 48px 0 0 16px;
        font-size: 40px;
    }

    .game-img img {
        width: 343px;
        height: 284px;
    }

    .game-title {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .game-text {
        font-size: 16px;
        margin-bottom: 32px;
        line-height: 20px;
    }

    #guess-number,
    #arithmetic,
    #text-over,
    #rock-paper-scissors,
    #victorina,
    #color-generator {
        width: 343px;
        height: 100%;
        flex-direction: column-reverse;
        margin: 24px 0 0 16px;
    }

    .game {
        margin: 29px;
    }
}
